{% extends 'blogapp/base.html' %}
{% block title %}Delete{% endblock title %}

{% block body %}
<div class="container">
    <br>
    <h1 style="text-align:center; color: black;"><u>Delete Your Blog</u></h1>
    <br>
    <form method="POST">
        <!-- Security token by Django  -->
        {% csrf_token %}
        <br>
        <p class="h2">Are you want to delete this Blog?</p>
        <a href="{% url 'showblog' %}" class="btn btn-info">Cancel</a>
        <input type="submit" class="btn btn-danger" value="Yes" />
    </form>
</div>
{% endblock body %}